<!DOCTYPE html>
<html lang="ru">
<head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>BusinessLunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-inverse">
    <header class="container-fluid page-width">
      <ul class="nav navbar-nav">
        <li role="presentation" class=<%= controller?('home') && action?('show') ? 'active' : '' %> >
          <%= link_to 'Главная', root_path, {title: 'Тут можно оставить отзыв'} %>
        </li>
        <li role="presentation" class=<%= controller?('restaurants') && action?('new') ? 'active' : '' %> >
          <%= link_to 'Добавить ресторан', new_restaurant_path %>
        </li>
        <li role="presentation" class=<%= controller?('restaurants') && action?('index') ? 'active' : '' %> ><%= link_to 'Отзывы', restaurants_path %></li>
      </ul>
  </header>
    </nav>

<section id="messages" class="container-fluid page-width">
  <% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>
</section>

  <main class="container-fluid page-width">
    <%= yield %>
  </main>

</body>
</html>
